  

/* Seçilen renk teması :https://color.adobe.com/tr/color-theme_Captura-de-Pantalla-2020-06-29-a-la(s)-12-color-theme-15312167 */
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #0F1218;

  }
  
 #myNav {

background-color: #0F1218 ;

 }


 
  .navbar
        {
            border-bottom:1px solid white;
        }
 
.cardSize{
  margin: auto;
  width: 70%;
  margin-top: 100px;

        }
